<!DOCTYPE HTML>
<HTML>
<head>
    <title>Hello Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="firstName" placeholder="Имя"/>
        <input type="text" name="secondName" placeholder="Фамилия"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список юзеров</div>
{{#users}}
<div>
    <b>{{id}}</b>
    <span>{{firstName}}</span>
    <i>{{secondName}}</i>
</div>
{{/users}}
</body>
</HTML>