<!DOCTYPE HTML>
<html>
<head>
    <title>Hello Spring</title>
    <link href="css/mainPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div align="center">
    <form method="post">
        <input type="text" name="title", placeholder="Введите название статьи">
        <input type="text" name="text", placeholder="Введите текст статьи">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <table align="center", border="1">
        <td><b>id article</b></td>
        <td><b>title article</b></td>
        <td><b>text article</b></td>
    </table>
</div>
{{#articles}}
<div>
    <b>{{id}}</b>
    <span>{{title}}</span>
    <i>{{text}}</i>
</div>
{{/articles}}
</body>
</html>